// colors
$color-crayola-shamrock: #5cdb95;
$color-traffic-blue: #05386b;
$color-white: #ffffff;
$color-black: #000000;

// Fonts
$ff-IBM: "IBM Plex Sans", "Arial", sans-serif;

// Transitions
$transition-300: 0.3s ease-in;

// BreakPoints
$vp-tablet: 1024px;
$vp-mobile: 767px;
